@page "/about"

<h1>About me</h1>
<h3>I am Gloriyano C. Daniel Pepuho, my ID is 5025201121</h3>

<!--Menambahkan gambar-->
<img src="images/me.jpeg" asp-append-version="true" width="300" />
@code {

}
